<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Form</h1>
    <form method="POST" action="/new">
        <label for="authorName">Name:</label>
        <input type="text" name="authorName" id="authorName">
        <br><br>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>