<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
</head>

<body>
    <ul>
        <li>
            <strong>Message:</strong>
            <%= message.text %>
        </li>
        <li>
            <strong>ID:</strong>
            <%= message.id %>
        </li>
        <li>
            <strong>Author:</strong>
            <%= message.user %>
        </li>
        <li>
            <strong>Timestamp:</strong>
            <%= message.added.toLocaleString() %>
        </li>
    </ul>

</body>

</html>